<div class="container mt-2">
  <!-- <ul class="list-"> -->
  <div *ngFor="let comment of comments">
    <li class="list-group-item" style="font-size: small;">
      <span style="max-width: 50%;">{{comment.content}}</span> 
      <span style="position: absolute; right: 2%; top: 0%; font-size: x-small;" (click)="deleteMe(comment.id)">Delete</span>
    </li>
  </div>
</div>


