<div class="jumbotron">
  <form [formGroup]="form" autocomplete="off">
    <div class="form-group">
      <label for="content">Respuesta</label>
      <textarea class="form-control" id="content" type="text" formControlName="content" rows="4"></textarea>
    </div>
    <button class="btn btn-success my-3" [disabled]="!form.valid" (click)="reply()">Enviar</button>

  </form>
</div>
