<div class="jumbotron mt-2">
  <h4><u>Crear un nuevo Post</u></h4>
  <form [formGroup]="form" autocomplete="off">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input class="form-control" id="name" type="text" formControlName="name">
    </div>
    <div class="form-group">
      <label for="content">Contenido</label>
      <textarea class="form-control" id="content" type="text" formControlName="content" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="image">URL de imagen</label>
      <input class="form-control" id="image" type="text" formControlName="image">
    </div>
    <button class="btn btn-success my-3" [disabled]="!form.valid" (click)="createPost()">Enviar</button>

  </form>
</div>
