<div class="container">
  <div class="jumbotron mt-3">
    <h1>Posts App</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="/">Posts</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/new" routerLinkActive="active">Create new</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="my-3"></div>
    <router-outlet>  </router-outlet>
    <!-- <app-entradas></app-entradas>
    <app-estructura></app-estructura>
    <app-atributos></app-atributos>
    <app-formularios></app-formularios>
    <app-clientes></app-clientes>
    <app-usuarios></app-usuarios> -->
  </div>
</div>