<div class="media-body ml-3 pb-3">
  <div class="row">
    <div class="inline-block col-sm-3">
      <img [src]="post.image" width="100%">
    </div>
    
    <!-- <div class="col-sm-1"> </div> -->
    <div class="inline-block col-sm-8 ml-2">
      <div class="row">
        <h3 class="col-sm-6">{{ post.name}}</h3>
        <!-- <p  >{{post.created_at }}</p> -->
        <span class="col-sm-4" style="padding-right: 5px; font-size: small; padding-top: 5px;"><i>{{post.created_at | amUtc | amLocal | amDateFormat:'LL HH:mm'}}</i></span>
        <span class="col-sm-1" [routerLink]="['/edit', post.id]" style="float: right; font-size: small;padding-top: 5px;" >Edit</span>
        <a class="col-sm-1" (click)="deletePost(post.id)" style="font-size: small; padding-top: 5px;"><i>Delete</i> </a>
      </div>
      <p>{{post.content}} </p>
      <div class="row" style="position: absolute; right: 0; padding-top: 10; margin-right: 9%;">
        <!-- <div class="col-sm-2"></div> -->
        <span class="col-sm-8" style=" font-size: small;" (click)="manageCommentList()">{{getCommentsText()}}</span>
        <span class="col-sm-4" style=" font-size: small;" (click)="changeReplyCreationBar()">Comentar</span>
      </div>
      <div *ngIf="isCreatingNewReply">
        <app-newreply [post_id]="post.id" (onUpdate)="onDonePosting()"></app-newreply>
      </div>
      <hr/>
      <div *ngIf="areCommentsOpen">
        <br/>
        <app-replylist [comments]="comments" (onDelete)="deleteComment($event)"></app-replylist>
      </div>
    </div>
  </div>
</div>